seed: 1919
save: "./checkpoint/cifar10-s4"
dataset:
  name: "CIFAR-10"
  _name_: "cifar"
  grayscale: True
train:
  num_epochs: 50
  batch_size: 50
  lr: 0.01
  ssm_lr: 0.001
  lr_min: 0.0000001
  reduce_factor: 0.5
  lr_patience: 20
  wd: 0.05
  warmup: 10
  cosine_anneal: True
model:
  layer: "s4"
  dt_min: 0.001
  dt_max: 0.1
  num_layers: 6
  activation: "full_glu"
  input_dim: 1
  output_dim: 10
  hidden_dim: 512
  state_dim: 64
  dropout: 0.1
  norm: "batch"
  pooling: "mean"
  ssm_lr_vars: ["Lambda_re", "Lambda_im", "P", "B", "log_step"]
  prenorm: False
  dual: False
  
