seed: 1919
save: "./checkpoint/cifar10-mamba2"
dataset:
  name: "CIFAR-10"
  _name_: "cifar"
  grayscale: True
train:
  num_epochs: 50
  batch_size: 50
  lr: 0.0002
  wd: 0.0
  warmup: 5
  cosine_anneal: True
  param_group: ~
model:
  layer: "mamba"
  version: "mamba2"
  num_layers: 6
  num_heads: 4
  input_dim: 1
  output_dim: 10
  hidden_dim: 512
  state_dim: 64
  conv_dim: 4
  expansion: 1
  dropout: 0.0
  glu: True
  norm: "layer"
  dual: False
  prenorm: False
  pooling: "mean"
  embedding: True
  token_embedding: False
